<link rel="stylesheet" href="/css/botoes.css" />
<link rel="stylesheet" href="/css/footer.css" />
<link <link link <link rel="stylesheet" href="/css/site.css" />




<footer id="footer_1">
  <div class="footer-container">

    <div class="footer-col footer-esq">
      <h3>YourPost MyLike</h3>
      <ul class="ul-css text-left">
        <li><a href="/index" class="botoes-discretos">Home</a></li>
        <li><a href="/formulario" class="botoes-discretos">Formulário</a></li>
        <li><a href="/postagens" class="botoes-discretos">Postagens</a></li>
      </ul>
      <p><a href="https://solmorcillo.com.br" class="botoes-discretos" target="_blank">Sol Morcillo</a></p>
      <p><a href="https://wa.me/5528999452754" class="botoes-discretos" target="_blank">28 99945-2754</a></p>
      <p>sol.morcillo.dev@gmail.com</p>
    </div>

    <div class="footer-col footer-cent">
      <img src="/images/logo_ypml.png" alt="Logo YPML" class="logos-media" />
    </div>

    <div class="footer-col footer-dir">
      <p>Quer contribuir?</p>
      <p>Vá para o github</p>
      <p>Que tal trocar estrelinhas?</p>
      <p>Vamos brilhar juntos </p>
      <p>BORA CODAR </p>
      <img src="/images/logo_github.png" alt="Logo GitHub" class="logos-mini" />
    </div>

  </div>




</footer>

<div class="copy">
  <small >© 2025 . Developer Sol Morcillo 💛</small>
</div>