<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/botoes.css" />


<header class="header-tropical">
  <div class="banner-container">
    <img src="/images/banner1.jpg" alt="Banner-total" class="banner-topo" />
  </div>

  <nav class="menu-navegacao">
    <a href="/" class="botoes-verdes">Home</a>
    <a href="/formulario" class="botoes-verdes">Postar</a>
    <a href="/postagens" class="botoes-verdes">Curtir</a>
    </nav>

   



</header>
