.header-tropical {
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.banner-container {
  width: 100%;
  overflow: hidden;
}

.banner-topo {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.menu-navegacao {
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: #629338ff;
  padding: 12px 0;
}

.menu-navegacao a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.3s ease;
}

.menu-navegacao a:hover {
  color: #dff7cdff;
  text-shadow: 0 0 5px #cbe8b2;
}
