@page
@model IndexModel
@{
    ViewData["Title"] = "Início | YourPost MyLike";
    Layout = "_Layout";
}

<link rel="stylesheet" href="/css/index.css" />
<link rel="stylesheet" href="/css/botoes.css" />
<link rel="stylesheet" href="/css/site.css" />
<link rel="stylesheet" href="/css/layout.css" />


<main class="text-central-w">
    <section class="apresentacao">
        <h1>CENTRAL DE ENGAJAMENTO E CONEXÃO</h1>
        <p class="botoes-discretos">Compartilhe recomendações e experiências com a comunidade.</p>
        <br>
        <h3>Fortaleça a comunidade com muito engajamento !!!</h3>
        <p class="botoes-discretos">NAVEGUE  CURTA  COMENTA  COMPARTILHA</p>
        <p class="botoes-discretos">Publique suas postagens</p>
        <br>
        <h4>Curta as postagens de quem já publicou</h4>
    </section>

</main>


